body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    height: 110vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: transparent;
    padding-bottom: 10px;
    width: 600px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #5E17EB;
    font-size: 50px;
    font-weight: 500;
}

.underline {
    width: 65px;
    height: 6px;
    background-color: #5E17EB;
    border-radius: 10px;
}

.inputs {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 5px;
}

.input img {
    margin: 0 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span {
    color: #2f008e;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #2f008e;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.gray {
    background-color: #eaeaea;
    color: #676767;
}

.bton-next-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #2f008e;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    margin-left: 170px;
}

.bton-next-page:hover {
    background-color: #5E17EB;
    transition: 0.5s;
}